#banner{
    height: 30vh;
    max-width: 100%;
    background-image: url("banner.jpg");
}

.grid-container{
display: grid;
grid-template-columns: 25% 75%;
background-color: #2196F3;
padding: 5px;
}

.grid-container > div {
    background-color: aliceblue;
    text-align: left;
    padding: 20px 0;
}

